{% extends "base.html" %} {% block content %}

<div class="space-y-6">
  <!-- HEADER -->

  <div
    class="rounded-xl p-6 shadow flex justify-between items-center bg-black text-white border-r-8 border-r-purple-400 border-l-8 border-l-red-400"
  >
    <div>
      <h1 class="text-4xl font-bold mt-2">GRUPO {{ grupo }}</h1>
      {% for equipo in equipos %}
      <img
        src="{{ equipo.bandera }}"
        alt="{{ equipo.nombre }}  "
        class="w-8 h-8 inline-block mr-2"
      />
      {% endfor %}
    </div>
  </div>

  <!-- GRID PRINCIPAL -->

  <div class="grid grid-cols-3 gap-20">
    <!-- STANDINGS -->
    <div
      class="col-span-2 p-6 text-white shadow relative rounded-xl border-r-8 border-r-purple-400 border-l-8 border-l-lime-400 bg-black"
    >
      <h3 class="font-bold mb-4">Posiciones</h3>

      <table class="w-10/12 text-sm p-20">
        <thead class="text-gray-500 border-b">
          <tr>
            <th class="text-left">POS</th>
            <th class="text-left">COUNTRY</th>
            <th>P</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GD</th>
            <th>PTS</th>
          </tr>
        </thead>

        <tbody>
          {% for fila in tabla %}

          <tr class="border-b">
            <td class="font-bold text-red-600">{{ forloop.counter }}</td>

            <td class="py-2 flex items-center gap-2">
              <a
                href="{% url 'editar_equipo' fila.equipo.id %}"
                class="bg-lime-500 text-white px-3 py-1 rounded-lg inline-flex items-center justify-center"
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <img
                class="w-6 h-6"
                src="{{ fila.equipo.bandera }}"
                alt="{{ fila.equipo.nombre }}"
              />

              {{ fila.equipo.nombre }}
            </td>

            <td class="text-center">{{ fila.jugados }}</td>
            <td class="text-center">{{ fila.ganados }}</td>
            <td class="text-center">{{ fila.empatados }}</td>
            <td class="text-center">{{ fila.perdidos }}</td>

            <td class="text-center">
              {{ fila.goles_favor|add:"-"|add:fila.goles_contra }}
            </td>

            <td class="text-center font-bold">{{ fila.puntos }}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
      <img
        src="https://i.pinimg.com/originals/90/7d/e9/907de999494e8b3dde99afb3f752239c.png"
        alt=""
        class="absolute -bottom-2 -right-20 w-48"
      />
    </div>

    <!-- RIGHT PANEL -->
    <div class="space-y-6">
      <!-- MVP -->
      <div class="bg-white p-4 rounded-xl shadow">
        <h3 class="font-bold mb-3">GROUP MVP RACE</h3>

        {% for jugador in mvp %}

        <div class="flex items-center gap-3 mb-2">
          <img src="{{ jugador.foto }}" class="w-10 h-10 rounded-full" />

          <div>
            <p class="text-sm font-bold">{{ jugador.nombre }}</p>

            <p class="text-xs text-gray-500">{{ jugador.equipo }}</p>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>

  <div
    class="p-6 flex flex-col items-end relative rounded-xl shadow bg-neutral-900 text-white border-r-8 border-r-red-600 border-l-8 border-l-red-200"
  >
    <h3 class="font-bold mb-4 self-center">PARTIDOS</h3>

    <div class="w-10/12 grid grid-cols-3 gap-4">
      {% for partido in partidos %}

      <div
        class="p-4 text-center rounded-full border-r-8 border-r-red-300 border-l-8 border-l-lime-300 bg-black text-white"
      >
        <div class="flex justify-between items-center mt-2">
          <img src="{{ partido.equipo1.bandera }}" class="w-8 h-8" />

          <button
            type="button"
            onclick="openResultModal({{ partido.id }}, '{{ partido.equipo1.nombre }}', '{{ partido.equipo2.nombre }}', {{ partido.goles_equipo1 }}, {{ partido.goles_equipo2 }})"
            class="font-bold text-yellow-300 hover:text-yellow-100 transition cursor-pointer"
          >
            <span class="rounded-full bg-cyan-400 text-black px-2 py-1">
              {{ partido.goles_equipo1 }}</span
            >
            -
            <span class="rounded-full bg-cyan-400 text-black px-2 py-1"
              >{{ partido.goles_equipo2}}</span
            >
          </button>

          <img src="{{ partido.equipo2.bandera }}" class="w-8 h-8" />
        </div>
      </div>

      {% endfor %}
    </div>
    <img
      src="https://res.cloudinary.com/dsobv0pj7/image/upload/q_auto/f_auto/v1775965128/dgm-048-mascot-png-crops-and-website-pop-up-graphics-v2-with-logo-2-zayu-16x9_rgixub.png"
      alt=""
      class="absolute -bottom-10 -left-20 w-96 h-72"
    />
  </div>
</div>

<!-- MODAL CAMBIAR RESULTADO -->
<div
  id="resultModal"
  class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
>
  <div
    class="bg-black rounded-2xl shadow-2xl w-full max-w-md p-8 relative text-white border-r-8 border-l-yellow-300 border-l-8 border-r-purple-600"
  >
    <!-- HEADER MODAL -->
    <div class="text-center mb-6">
      <h2 class="text-2xl font-bold text-gray-200">Cambiar Resultado</h2>
      <p class="text-gray-500 text-sm mt-2" id="equiposInfo"></p>
    </div>

    <!-- FORM RESULTADO -->
    <form
      method="POST"
      action="{% url 'actualizar_resultado' %}"
      class="space-y-5"
    >
      {% csrf_token %}
      <input type="hidden" id="partidoId" name="partido_id" />

      <!-- EQUIPO 1 GOLES -->
      <div>
        <label class="text-sm font-semibold text-gray-400" id="equipo1Label">
        </label>
        <input
          type="number"
          name="goles_equipo1"
          id="goles1"
          min="0"
          class="w-full mt-1 p-3 border rounded-lg focus:ring-2 focus:ring-green-500 outline-none text-black"
          placeholder="0"
        />
      </div>

      <!-- EQUIPO 2 GOLES -->
      <div>
        <label class="text-sm font-semibold text-gray-400" id="equipo2Label">
          Goles Equipo 2
        </label>
        <input
          type="number"
          name="goles_equipo2"
          id="goles2"
          min="0"
          class="w-full mt-1 p-3 border rounded-lg focus:ring-2 focus:ring-green-500 outline-none text-black"
          placeholder="0"
        />
      </div>

      <!-- BOTONES -->
      <div class="flex gap-3">
        <button
          type="button"
          onclick="closeResultModal()"
          class="flex-1 bg-red-400 text-white font-semibold py-3 rounded-lg hover:bg-red-500 transition"
        >
          Cancelar
        </button>
        <button
          type="submit"
          class="flex-1 bg-lime-700 text-white font-semibold py-3 rounded-lg hover:scale-105 transition"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  function openResultModal(partidoId, equipo1, equipo2, goles1, goles2) {
    document.getElementById("resultModal").classList.remove("hidden");
    document.getElementById("partidoId").value = partidoId;
    document.getElementById("goles1").value = goles1;
    document.getElementById("goles2").value = goles2;
    document.getElementById("equiposInfo").innerText =
      equipo1 + " vs " + equipo2;
    document.getElementById("equipo1Label").innerText = "Goles " + equipo1;
    document.getElementById("equipo2Label").innerText = "Goles " + equipo2;
  }

  function closeResultModal() {
    document.getElementById("resultModal").classList.add("hidden");
  }

  // Cerrar modal al hacer clic fuera de él
  document
    .getElementById("resultModal")
    .addEventListener("click", function (e) {
      if (e.target === this) {
        closeResultModal();
      }
    });
</script>

{% endblock %}
